<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ingredient</title>
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/5.0.0/css/bootstrap.min.css}">
</head>

<body>
    <th:block th:insert="~{fragments/navbar.html :: navbar}"></th:block>
    <th:block th:object="${ingredient}">

        <section class="d-flex justify-content-between">
            <div class="d-flex">
                <div>
                    <h1>[[*{name}]]</h1>
                    <div>
                        <span>[[*{description}]]</span>
                        <div class="d-flex">
                            <a th:href="@{/ingredients/edit/{id}(id=${ingredient.id})}"
                                class="btn btn-warning btn-sm ms-2">
                                edit
                            </a>

                            <form action="#" th:action="@{/ingredients/delete/{id}(id=${ingredient.id})}" method="post">
                                <button type="submit" class="btn btn-danger btn-sm">delete</button>
                            </form>
                        </div>


                    </div>

                </div>

    </th:block>
    </div>
    </section>






    </th:block>


</body>

</html>